{% extends "wiki/base.html" %}

{%block title%}Categories{% endblock %}

{% block content %}
<main class = "container">
    <br>
    {% for entry in entries %}

        <div class = "card mt-1" style = "border:none">
            <div class = "card-title">
                <a href = "{% url 'wikipage' entry.id %} ">{{ entry.title }}</a>
                <div class = "card-body">
                    {{ entry.body|truncatechars_html:300|safe }}
                </div>
            </div>
        </div>
    {% endfor %}
</main>
{% endblock %} 