{% extends 'wiki/base.html' %}
{% block content %}
<br>
<div class = "row">
    <div class = "col-md-2"></div>
    <div class = "col-md-8 ">
        <div class = 'card card-body border-0 '>
            <div class = "form-group">
            <form method = "POST">
                {% csrf_token %}
                <table>
                {{ form.media }}
                {{ form.as_p }}
                </table>  
                <input type="submit" class = "btn btn-primary" value = "Submit">
            </form>
            </div>
        </div>    
    </div>
    <div class = "col-md-2"></div>
</div>






{% endblock %}