{% extends "wiki/base.html" %}
{%block title%}{{entry.title}}{% endblock %}

{% block content %}

<div class = "container">
    <div class = "row">
        <div class = "col-2"> 
        </div> 
        <div class = "col-8 "> 
            <div class = 'card card-body border-0'>
                {{entry.title}}
            </div>
        </div> 
        <div class = "col-2"> 
        </div> 
    </div> 
    <div class = "row">
        <div class = "col-2"> 
        </div> 
        <div class = "col-8 "> 
            <div class = 'card card-body text-left border-0'>
                {{entry.body|safe}}
            </div>
        </div> 
        <div class = "col-2"> 
        </div> 
    </div> 
    <div class = "row">
        <div class = "col-2"> 
        </div> 
        <div class = "col-8 "> 
            <div class = 'card card-body text-right border-0'>
                <i>-{{entry.source}}</i>
            </div>
        </div> 
        <div class = "col-2"> 
        </div> 
    </div>
    <div class = "row">
        <div class = "col-2"> 
        </div> 
        <div class = "col-8 text-center" > 
                <a class = "btn btn-default btn-info" href = "{% url 'home' %}">Home</a>
                <a class = "btn btn-default btn-info" href = "{% url 'updateEntry' entry.id %}">Update Entry</a>
                <a class = "btn btn-default btn-info" href = "{% url 'deleteEntry' entry.id %}"> Delete Entry<a/>

        </div>
        </div> 
        <div class = "col-2"> 
        </div> 
    </div> 
</div>
<div class = "container-fluid">
    <div class = "row">
        <div class = "col-4">
            
        </div> 
    </div> 
</div>

<div class = "container-fluid">
    <div class = "row">
        <div class = "col-4">

        </div> 
    </div> 
</div>


    
    
{% endblock %}